[submodule "http/fedora/rawhide"]
	path = attic/http/fedora/rawhide
	url = https://pagure.io/fedora-kickstarts.git
	branch = main
[submodule "http/centos-upstream"]
	path = http/centos-upstream
	url = https://git.centos.org/centos/kickstarts.git
	branch = master
[submodule "http/centos-stream"]
	path = http/centos-stream
	url = https://github.com/greg-hellings/centos-stream-kickstarts-mirror.git
	branch = main
[submodule "http/fedora/f38"]
	path = attic/http/fedora/f38
	url = https://pagure.io/fedora-kickstarts.git
	branch = f38
