output_*
output/*
*.box
*.iso
.vagrant
serial-output*
grub.cfg
isolinux.cfg
Vagrantfile

# Generated distros
distros/fedora/rawhide/*.hcl
distros/nixos/**/*.hcl
distros/centos-stream/**/*.hcl

__pycache__
*.pyc
*.pyo
packer_cache
.venv