[submodule "http/fedora/f34"]
	path = http/fedora/f34
	url = https://pagure.io/fedora-kickstarts.git
	branch = f34
[submodule "http/fedora/f35"]
	path = http/fedora/f35
	url = https://pagure.io/fedora-kickstarts.git
	branch = f35
[submodule "http/fedora/f36"]
	path = http/fedora/f36
	url = https://pagure.io/fedora-kickstarts.git
	branch = f36
[submodule "http/fedora/rawhide"]
	path = http/fedora/rawhide
	url = https://pagure.io/fedora-kickstarts.git
	branch = main
[submodule "http/centos-upstream"]
	path = http/centos-upstream
	url = https://git.centos.org/centos/kickstarts.git
	branch = master
[submodule "http/centos-stream"]
	path = http/centos-stream
	url = https://github.com/greg-hellings/centos-stream-kickstarts-mirror.git
	branch = main
[submodule "http/fedora/f37"]
	path = http/fedora/f37
	url = https://pagure.io/fedora-kickstarts.git
	branch = f37
[submodule "http/fedora/f38"]
	path = http/fedora/f38
	url = https://pagure.io/fedora-kickstarts.git
	branch = f38
